*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins',sans-serif;
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    width: 10px;
}
body::-webkit-scrollbar-track {
    background-color: #fff;
}
body::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px; 
}
body::-webkit-scrollbar-thumb:hover {
    background-color: #3B71FE;
}
.image_main img{
    position: absolute; 
    z-index: -1;
    top: 0;
    filter: brightness(80%) blur(3px);
   width: 100%;
   height: auto;
}
.card_sign_in{
    display: flex;
    margin: 50px auto;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: -5px 10px 30px 0px black;
    width: 1200px;;
    align-items: center;
    justify-content: center;
    padding: 0;
}
.card_left{
    display: flex;
    flex-direction: column;
    align-items:center;
    gap : 10px;
    padding: 0 100px;
    width: 50%;
}
.logo_header{
    display: flex;
    align-items:center;
    justify-content:center;
    gap : 5px;
}
.logo_header span{
    font-weight: bold;
    font-size: 1.5em;
}
.logo_header a{
    display: flex;
    align-items:center;
    text-decoration: none;
    gap: 5px;
    color: #333;
}
.card_left h2{
    font-size: 2em;
    margin-top : 20px;
}
.forget {
    display: flex;
    align-items:center;
    justify-content:center;
}
.forget p{
    color: #555;
}
.forget p a{
    text-decoration: none;
    color : #333;
    font-weight: 500;
}
.forget p a:hover{
    color: #3B71FE;
}
.select_socials{
    display: flex;
    align-items:center;
    justify-content:center;
    gap : 23px;
    margin-top : 15px;
    /* position: relative; */
    flex-direction: column;
}
.socials{
    display: flex;
    gap : 23px;
}
.socials i{
    border: 1px solid #555;
    padding : 10px 30px;
    border-radius: 10px;
    width: 110px;
    height: 45px;
    display: flex;
    align-items:center;
    justify-content:center;
    font-size: 1.3em;
}
.card_left span{
    /* position: relative; */
    color: #555;
}
.card_left span::before{
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
}
.infor{
    display: flex;
    flex-direction: column;
    gap : 15px;
    position: relative;
}
.details{
    display: flex;
    flex-direction: column
}
.details input{
    padding: 13px;
    width: 380px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #555;
}
.details input:invalid{
    border: 2px solid red;
    /* animation: shake 0.2s 2; */
}
/* @keyframes shake{
    25%{
        translate: 6px 0;
    }
    50%{
        translate: -6px 0;
    }
    75%{
        translate: 6px 0;
    }
} */
.details input:focus{
    border: 2px solid #3B71FE;
}
.details span{
    font-weight: 600;
    line-height: 40px;
}

.infor button{
    background-color: #3B71FE;
    color:#fff;
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 18px;
    font-size: 1.2em;
    margin-top: 10px;
}
.infor button:hover{
    opacity: 0.9;
}
.imgage_right{
   position: relative;
   width: 50%;
   height: 100%;
   line-height:0;
   overflow: hidden;
}
.imgage_right img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    object-fit: cover;
}
.sign-up-or {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
.sign-up-or::before,
.sign-up-or::after {
    content: '';
    flex: 1;
    height: 1px;
    background-color: #cbcacab9;
    /* margin-right: 10px;
    margin-left: 10px; */
    width: 380px;
    z-index:9;
    position: absolute;
    left: 100px;
    margin: 160px; 
} 
  .sign-up-or span{
    padding: 10px;
    background-color: #fff;
    color: #a8a3a3d1;
    z-index: 99;
  }
  
.error{
    font-size: 12px;
    font-style: italic;
    font-weight: 100;
}