* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background: #fff;
}
body::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
body::-webkit-scrollbar-thumb:hover {
  background: #3b71fe;
}

.header_nav {
  display: flex;
  justify-content: space-around;
  padding: 15px 0;
  font-size: 1.2em;
  box-shadow: rgb(38, 57, 77, 0.8) 0 20px 30px -10px;
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  z-index: 99999;
}
.header_nav .nav_logo,
.header_nav .nav_select,
.header_nav .nav_user {
  display: flex;
  align-items: center;
}
.nav_logo a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #333;
}
.nav_logo span {
  font-weight: 800;
  font-size: 20px;
  line-height: 25px;
  margin-left: 10px;
}
.nav_select ul,
.nav_user ul {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.nav_select ul li,
.nav_user ul li {
  list-style: none;
  position: relative;
}
.nav_select ul li a,
.nav_user ul li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #333;
  font-size: 0.9em;
  position: relative;
}
.nav_select ul li a {
  justify-content: space-between;
  margin: 0 20px;
  padding: 0;
}
.nav_select ul li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background: #333;
  bottom: -3px;
  transform: scale(0);
  transition: transform 0.45s;
  top: 41px;
  transform-origin: right;
}
.nav_select ul li:last-child a:after {
  content: "";
  width: 100%;
  position: absolute;
  border-bottom: 4px solid #3b71fe;
  top: 42px;
}
.nav_select ul li:not(:last-child) a:hover:before {
  transform: scale(1);
  transform-origin: left;
}
.nav_user ul li a {
  margin: 0 10px;
  font-weight: 700;
  color: gray;
  font-size: 1em;
}
.nav_user ul li a img,
.user-menu img {
  border-left: 1px solid #e0d2d2;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.user-menu {
  position: relative;
}
.user-menu img {
  margin-left: 10px;
}
.menu {
  position: absolute;
  width: 100px;
  min-height: 100px;
  top: calc(100% - 10px);
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 20px 20px #555;
  opacity: 0;
  visibility: hidden;
}
.menu.active {
  opacity: 1;
  visibility: visible;
}
.user-menu ul {
  position: absolute;
  display: inline-block;
  background: #fff;
  padding: 5px 10px;
  width: 200px;
  border-radius: 5px;
  box-shadow: 0 2px 10px #c2c1c1cf;
  right: -100px;
  margin: 15px 140px;
  opacity: 0;
}
.user-menu ul li {
  line-height: 40px;
}
.user-menu ul li a {
  font-size: 0.7em;
  font-weight: 600;
  color: #333;
  transition: all 0.25s;
}
.user-menu ul li:nth-child(2) {
  border-bottom: 1px solid #e5dcdcac;
}
.user-menu ul li a:hover {
  padding: 0 5px;
  border-radius: 5px;
}
.user-menu ul li:nth-child(3),
.user-menu ul li:nth-child(4) {
  display: flex;
  align-items: center;
}
.user-menu ul li:nth-child(4) {
  justify-content: space-between;
}
.user-menu ul li:nth-child(4) .status {
  background: #f4f5f9;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 10px;
  border-radius: 50px;
  font-size: 0.7em;
}
.user-menu ul li:nth-child(4) .status .fa-sun {
  padding: 5px 10px;
  background: #fff;
  border-radius: 15px;
}

.blog_content {
  display: flex;
  flex-direction: column;
  margin: 100px 200px 0 200px;
  justify-content: center;
}
.blog_content h3 {
  font-size: 2em;
}
.blog_content h5 {
  color: #828080;
  line-height: 40px;
  border-bottom: 1px solid #eee6e6;
  padding-bottom: 25px;
  font-size: 1.5em;
}
.top_blog {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}
.top_blog h4 {
  color: #58c27d;
  background: #eef9f2;
  font-size: 0.8em;
  padding: 8px 10px;
  border-radius: 4px;
}
.top_blog span {
  color: #9d9c9c;
  font-weight: 400;
}
.adds_blog {
  display: flex;
  flex-direction: column;
}
.adds_blog img {
  object-fit: cover;
  border-radius: 20px;
  position: relative;
  height: 600px;
}
.adds_blog p {
  line-height: 25px;
  margin-top: 15px;
}
.card_blogs {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 50px;
  position: relative;
}
.card {
  display: flex;
  gap: 20px;
  width: 800px;
  border-bottom: 1px solid #efe8e8;
  padding-bottom: 30px;
}
.image_adds img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
}
.card_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.status {
  display: flex;
  align-items: center;
  gap: 250px;
}
.status span {
  color: #fa8f54;
  background: #fee9dd;
  font-size: 0.8em;
  padding: 8px 10px;
  border-radius: 4px;
}
.status h4 {
  color: #9d9c9c;
  font-weight: 400;
}
.card_content h2 {
  line-height: 90px;
}
.card_content h2 a {
  text-decoration: none;
  color: #333;
  transition: all 0.25s;
}
.card_content h2 a:hover {
  text-decoration: underline;
  color: #3b71fe;
}
.card_content p {
  margin-top: 30px;
  line-height: 25px;
}
.select_btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.select_btn button {
  padding: 15px 30px;
  outline: none;
  border: none;
  background: #3b71fe;
  color: #fff;
  border-radius: 40px;
  width: 180px;
  font-size: 1.3em;
  margin-top: 50px;
}
.select_btn button:hover {
  background: blue;
}
.card:nth-child(2) .status span {
  background: #ffeff1;
  color: #f65540;
}
.card:nth-child(3) .status span {
  background: #ebf1ff;
  color: #3b71fe;
}
.card:nth-child(4) .status span {
  background: #ffeff1;
  color: #f65540;
}
.card:nth-child(5) .status span {
  background: #eef9f2;
  color: #58c27d;
}

.footer_container {
  position: relative;
  height: 400px;
  padding-top: 40px;
  margin-top: 100px;
}
.footer_content {
  display: flex;
  justify-content: space-evenly;
  gap: 100px;
  margin-bottom: 60px;
}
.footer_infor {
  display: flex;
  flex-direction: column;
  width: 250px;
}
.footer_infor .logo_infor {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo_infor span {
  font-size: 1.3em;
  font-weight: 700;
}
.footer_infor p {
  margin-top: 25px;
  line-height: 30px;
}
.input_footer {
  display: flex;
  position: relative;
}
.input_email input[type="text"] {
  padding: 12px;
  border-radius: 30px;
  outline: none;
  width: 250px;
  margin-top: 35px;
  padding-right: 50px;
  border: 1px solid #c7c5c5;
}
.input_email input::placeholder {
  font-weight: 600;
  color: #7b7b7b;
}
.input_email .fa-arrow-right {
  position: absolute;
  right: -5px;
  bottom: 3px;
  background: #3b71fe;
  padding: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  color: #fff;
  cursor: pointer;
}
.footer_service,
.footer_support,
.footer_business {
  display: flex;
  flex-direction: column;
  position: relative;
}
.footer_service h3,
.footer_support h3,
.footer_business h3 {
  font-size: 1.4em;
}
.footer_service ul,
.footer_support ul,
.footer_business ul {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.footer_service ul li,
.footer_support ul li,
.footer_business ul li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 100px;
}
.footer_service ul li a,
.footer_support ul li a,
.footer_business ul li a {
  text-decoration: none;
  line-height: 40px;
  color: #777e90;
}
.footer_service ul li a:hover,
.footer_support ul li a:hover,
.footer_business ul li a:hover {
  color: #3b71fe;
}
.footer_socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #cbc9c9;
  padding: 10px;
  margin: 0 120px;
}
.adds_social p {
  font-size: 0.8em;
  color: #777e90;
}
.list_socials {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #777e90;
}
